body {
    /* background image below courtesy of www.myfreetextures.com */
    background-image: url("../images/bg_1.jpg");

}


header {
    position: relative;
    overflow: hidden;
    /* background-image: url("../images/spirit76.png");
    background-repeat: no-repeat;
    background-position: top right; */
}


/*
header img {

    position: absolute;
    top: 0;
    height: 85%;
    right: 0;

  z-index: -5;
    opacity: 0.3;

}

@media (min-width: 700px) {
    header img {
        opacity: 0.6;
    }
}  */

/* new design styles for 2 block slideshow */

#newdes figure img {
    max-width: 45%;
    margin-right: 2px;
    border: 2px solid saddlebrown;
}


@media (min-width: 550px) {
    #newdes figure img {
    width: 40%;

    }

    #newdes figure img:not(:last-child) {
    margin-right: 20px;
    }
}

@media (min-width: 775px) {
    #newdes figure img {
        width: 35%;
         border: 4px solid saddlebrown;
    }
    #newdes figure img:not(:last-child) {
    margin-right: 30px;
    }
}


@media (min-width: 1000px) {
    #newdes figure img {
        width: 30%;
    }
}

#newdes #slide01 img, #newdes #slide02 img {
  border-radius: 15px;
  border: 1px solid saddlebrown;
  width: 95%;
  /* box-shadow: 0 0 20px rgba(139,69,19, 0.4); */
}

#newdes #slide01, #newdes #slide02 {
  width: 46%;
  margin-bottom: 10px;
}

#newdes #slide01 {
    margin-left: 0;
    }

    #newdes #slide02 {
    margin-left: 5px;
}

@media (min-width: 300px) {
    #newdes #slide01, #newdes #slide02 {
        width: 45%;
    }

    #newdes #slide01 {
    margin-left: 6px;
    }

    #newdes #slide02 {
    margin-left: 10px;
}

    #newdes #slide01 img, #newdes #slide02 img {
        border: 2px solid saddlebrown;
    }
}

@media (min-width: 600px) {
    #newdes #slide01, #newdes #slide02 {
        width: 40%;
    }

    #newdes #slide01 {
    margin-left: 9%;
    }

    #newdes #slide02 {
    margin-left: 20px;
}
}

@media (min-width: 900px) {
    #newdes #slide01, #newdes #slide02 {
        width: 35%;
    }

    #newdes #slide01 {
    margin-left: 12%;
    }

    #newdes #slide01 img, #newdes #slide02 img {
        border: 4px solid saddlebrown;
    }
}

@media (min-width: 1100px) {
    #newdes #slide01, #newdes #slide02 {
        width: 30%;
    }

    #newdes #slide01 {
    margin-left: 17%;
    }
}





#figcont {

}
/*end new design slideshow styles */

figure {
    margin: 0 0 2rem 0;
    text-align: center;

}

figcaption {
    text-align: center;
}

figure:not(:first-child) {
    margin-top: 3rem;
}

figure img {
    border-radius: 15px;
}


figure img:not(:last-child) {
    margin-right: 30px;
}

p {
    margin-bottom: 1rem;
}

ul {
    list-style-type: disc;
}

li {
    margin-left: 1.5rem;
}

/* main page header styles */

h1 {
    font-family: 'Monsieur La Doulaise', cursive;
    font-weight: normal;
    font-size: 4.5rem;
    margin-left: 10px;
    margin-right: 30px;
    line-height: 1;
    margin-top: 15px;
    margin-bottom: 0;
    z-index: 5;
    max-width: 100%;

    text-align: center;


}

@media screen and (min-width: 550px) {
    h1 {
        font-size: 5rem;
        margin-right: 0;
        font-weight: normal;

        }
}

@media screen and (min-width: 650px) {
    h1 {

        font-weight: normal;
        font-size: 6rem;
        margin-right: 0;

    }
}

@media screen and (min-width: 740px) {
    h1 {
        font-size: 7rem;
         font-weight: normal;
        margin-right: 0;
    }
}
@media (min-width: 890px) {
    h1 {
        font-size: 8.5rem;
        font-weight: normal;
        margin-right: 0;
    }

}


@media (min-width: 1065px) {
    h1 {
        font-size: 10rem;
        font-weight: normal;
        margin-right: 0;
    }

}

h4, h5 {
   font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
   font-size: 3rem;
   margin-top: 2rem;
   font-weight: 500;

}

#sansserif h4, #sansserif h5 {
    font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h5 {
    margin-bottom: 1rem;
}

.notfirstsec {
    margin-top: 2rem;
    margin-bottom: 1rem;
}
@media (min-width: 550px) {
    h4 {
        font-size: 4rem;
        font-weight: 500;
    }

    /*
    .secondary h4 {
       font-weight: normal;
    }
    */

    h5 {
        font-size: 3rem;
        font-weight: 500;
    }

    #sansserif h4, #sansserif h5 {
        font-weight: 500;
    }

    .secondary h5 {
        font-weight: normal;
    }
}

h2.tagline {

    font-weight: inherit;
     font-weight: bold;
    margin-left: 10px;
    font-size: 1.4rem;
    line-height: inherit;
    letter-spacing: inherit;
    margin-bottom: 1rem;
    margin-top: 10px;
    text-align: center;

}

@media screen and (min-width: 310px) {
    h2.tagline {
        font-size: 2rem;
        font-weight: inherit;
    }
}

@media screen and (min-width: 600px) {
    h2.tagline {
        font-size: 2.5rem;
    }
}

@media screen and (min-width: 740px) {
    h2.tagline {
        font-size: 3rem;
         font-weight: normal;
         margin-bottom: 1.5rem;

    }

    #newdes h2.tagline {
        margin-left: -35px;
    }
}
p.tagline {
    margin-left: 10px;

}



/*

h3.geographic-location {
    font-weight: normal;

    margin: 0 0 0 35px;
    font-size: 1.3rem;
    line-height: inherit;
    letter-spacing: inherit;
}

@media (min-width: 700px) {
    h3.geographic-location {
        margin: -1rem 0 0 44rem;
    }

}


#mainhome {
    background: url(../images/sons-of-liberty-1.jpg) no-repeat;
    min-height: 767px;
    border-radius: 25px;
    padding: 30px 20px 0 20px;
}
*/

.faulk-quote {
    /*
    font-size: 3rem;
    z-index: 2;
    position: relative;
    margin-left: 20px;
    margin-bottom: 0;
    font-style: italic;
    color: black;
    margin-top: 1rem;
    */

   margin-left: 10px;
   margin-top: 1.5rem;
   font-style: oblique;
   font-size: 1.5rem;

}

@media screen and (min-width: 670px) {
    .faulk-quote {
        font-size: 1.75rem;
    }
}

.faulk-quote q {

}

/*
.faulk-quote q:before {
 color:#bca77e;
 font-family: Georgia, 'Times New Roman', Times, serif;
  content: open-quote;
  font-size: 4em;
  position: absolute;
  top: -50px;
  left: -30px;
  z-index: -10;
}

@media (min-width: 870px) {
    .faulk-quote q:before {
        left: -40px;
    }
}

.faulk-quote q:after {
    content: no-close-quote;
}

 .quotee {
    font-size: 1.5rem;
    font-style: italic;
    font-weight: bold;
    text-align: right;
    margin-right: 18px;


}
*/


main .columns img {
    max-width: 100%;
}

/* interior pages - secondary column */



.secondary {
    font-size: 90%;
    padding-left: 1rem;
}




/* navigation styles */

nav {


  width: 200px;
  height: auto;
  position: fixed;
  top: 0;
  left: -200px;
  background: #fff;
   z-index: 5;
   transition: .3s ease all;
   opacity: .9;

}

.show-nav nav {
 transform: translateX(200px);
 padding-left: 5px;
 width: 100%;
}


nav a {
    display: block;
    font-weight: bold;
    margin: .5rem 45px 1rem 0;
    border-radius: 25px;
    border: 2px solid saddlebrown;

    width: 70%;
    color: saddlebrown;
    padding: .5rem 0 .5rem 1rem;
}

#newdes nav a {
    padding-left: .7rem;
}

nav a:link {
    text-decoration: none;

}

nav a:visited {
    text-decoration: none;
}

nav a:hover {
    color: white;
    background: saddlebrown;
    text-decoration: underline;
}

nav a:active {
    color: white;
    background: saddlebrown;
    text-decoration: underline;
}

.urhere {
    color: saddlebrown;
    font-weight: bold;
    text-decoration: underline;
    margin-left: 1rem;
}


@media screen and (min-width: 550px) {
    nav {
        margin-bottom: 2.5rem;
        position: static;
        background: transparent;
        width: auto;
        opacity: 1;
        border: 3px solid saddlebrown;
        border-radius: 15px;
        text-align: center;
        background: saddlebrown;
    }

    #newdes nav {
       font-size: .85em;
    }

    nav a {
        color: white;
        display: inline;
        margin: 0 1rem 0 0;
        border-radius: 0;
        border: 0;

        padding: .5rem .2em .5em .2em;

    }

    .urhere {
        margin-right: 1rem;

        color: white;
        font-weight: bold;
        text-decoration: underline;
    }

    nav a:link {
        text-decoration: none;
        color: white;
        background: transparent;
    }

    nav a:visited {
        text-decoration: none;
        color: white;
        background: transparent;
    }

    nav a:hover {
        text-decoration: underline;
        color: saddlebrown;
        background: white;
    }

    nav a:active {
        text-decoration: underline;
        color: saddlebrown;
        background: white;
    }


}



/* elijah wood hamburger menu by way of tania rascia */

#nav-toggle {
  position: fixed;
  top: 12px;
  right: 5px;
  float: right;
  /* margin-right: 45px; */
  transition: all ease .3s;
  z-index: 10;
  padding: 10px 35px 16px 0px;
}

/* .show-nav #nav-toggle {
  margin-right: 200px;
} */



@media screen and (min-width: 550px) {
  #nav-toggle {
    display: none;
  }
}

#nav-toggle span,
#nav-toggle span:before,
#nav-toggle span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 4px;
  width: 27px;
  /* background: #343434; */
  background: saddlebrown;
  position: absolute;
  display: block;
  content: '';
}

#nav-toggle span {
  background-color: saddlebrown;
}

#nav-toggle span:before {
  top: -8px;
}

#nav-toggle span:after {
  bottom: -8px;
}

#nav-toggle span,
#nav-toggle span:before,
#nav-toggle span:after {
  transition: all 200ms ease-in-out;
}

#nav-toggle.active span {
  background-color: transparent;
}

#nav-toggle.active span:before,
#nav-toggle.active span:after {
  top: 0;
}

#nav-toggle.active span:before {
  transform: rotate(45deg);
}

#nav-toggle.active span:after {
  transform: rotate(-45deg);
}
