body {
    /* background image below courtesy of www.myfreetextures.com */
    background-image: url("../images/bg_1.jpg");

}

h1.pin {
    font-family: 'Pinyon Script', cursive;
    margin-top: 25px;
    font-size: 10rem;
   
}

h1.pap  {


    font-family: 'Paprika', cursive;
}

h1.arz  {

    font-family: 'Arizonia', cursive;
}
h1.asl  {

    font-family: 'Averia Serif Libre', cursive;
}

h1.agl{

    font-family: 'Averia Gruesa Libre', cursive;
}

h1.mil  {

    font-family: 'Milonga', cursive;
}

h1.til  {

    font-family: 'Tillana', cursive;
}

h1.ita  {

    font-family: 'Italianno', cursive;
}

h1.fon  {

    font-family: 'Fondamento', cursive;
}

h1.ves  {
    font-family: 'Vesper Libre', serif;
}
h1.cor  {
    font-family: 'Cormorant Garamond', serif;


}