body {
    /* background image below courtesy of www.myfreetextures.com */
    background-image: url("../images/bg_1.jpg");

}

.toppy {
    margin-top: 15px;
}

h1 {
    font-family: 'Pinyon Script', cursive;
    font-weight: bold; 
}

@media (min-width: 865px) {
    h1 {
        font-size: 8rem;
        font-weight: normal;
    }

}

.four.columns img {
    max-width: 100%;
}



