// Contains all basic styles of elements.
// -----------------------------------------------------------------------------
// Make all elements from the DOM inherit from the parent box-sizing
//  Since `*` has a specificity of 0, it does not override the `html` value
//  making all elements inheriting from the root box-sizing value
//  See:  https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/


// Apply a natural box layout model to all elements, but allowing components
// to change. Html is set to 62.5% so that all the REM measurements throughout
// are based on 10px sizing. So basically 1.4rem = 14px

// html {
//   font-size: 62.5%;
// }

// body {
//   font-size: 1.5em; // currently ems cause chrome bug misinterpreting rems on body element
//   line-height: 1.6;
//   font-weight: 400;
//   font-family: $font-sans-serif;
//   color: $font-color;
// }

html {
  box-sizing: border-box;
  font-size: 62.5%;
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-size: $font-size;
  line-height: $line-height;
  font-weight: 400;
  font-family: $font-base;
  color: $font-color;
}

// Links
a {
  color: $color-link;
  text-decoration: none;
  word-wrap: break-word;

  &:hover {
    color: shade($color-link, 15%);
  }
}


// Misc
//––––––––––––––––––––––––––––––––––––––––––––––––––
hr {
  margin-top: 3rem;
  margin-bottom: 3.5rem;
  border-width: 0;
  border-top: 1px solid $gray-light;
}

// Lists
//––––––––––––––––––––––––––––––––––––––––––––––––––

ul {
  list-style: circle inside;
}

ol {
  list-style: decimal inside;
  padding-left: 0;
  margin-top: 0;
}

ul {
  padding-left: 0;
  margin-top: 0;
  ul, ol {
    margin: 1.5rem 0 1.5rem 3rem;
    font-size: 90%;
  }
}

ol {
  ol, ul {
    margin: 1.5rem 0 1.5rem 3rem;
    font-size: 90%;
  }
}

li {
  margin-bottom: 1rem;
}

dt {
  font-style: italic;
}

dd {
  padding-left: 2rem;
}

// Images/Video
//––––––––––––––––––––––––––––––––––––––––––––––––––
img,
video {
  display: table;
  max-width: 100%;
}

figure {
  margin: 0 auto;
  padding-bottom: 2.4rem;

  img {
    display: table;
    margin: 0 auto;
  }
}

caption,
figcaption {
  font-size: $font-size--sm;
  font-style: italic;
  text-align: center;
}

// Tables
//––––––––––––––––––––––––––––––––––––––––––––––––––


table {
  // border-spacing: 0;
  // border: 0;
  border-collapse: collapse;
  border-color: gray;
  border-spacing: 2px;
  max-width: 100%;
  width: 100%;

  thead th {
    vertical-align: bottom;
    border-bottom: 1px solid $gray-light;
  }

  th,
  td {
    padding: 0.6rem;
    vertical-align: top;
    border-top: 1px solid #ccc;
  }

  th,
  tfoot td {
    font-weight: 700;
    text-align: left;
  }

  td {
    border-bottom: 1px solid $gray-light;
    padding: .6rem;
    text-align: left;
    vertical-align: top;
  }
}

// Forms
//––––––––––––––––––––––––––––––––––––––––––––––––––

textarea,
select {
  height: 38px;
  padding: 6px 10px; // The 6px vertically centers text on FF, ignored by Webkit
  background-color: #fff;
  border: 1px solid lighten($border-color, 8.8%);
  border-radius: $global-radius;
  box-shadow: none;

  &:focus {
    border: 1px solid $color-primary;
    outline: 0;
  }
}

// Removes awkward default styles on some inputs for iOS
input {
  &[type="email"],
  &[type="number"],
  &[type="search"],
  &[type="text"],
  &[type="tel"],
  &[type="url"],
  &[type="password"] {
    appearance: none;
    background-color: #fff;
    border-radius: $global-radius;
    border: 1px solid lighten($border-color, 8.8%);
    box-shadow: none;
    box-sizing: border-box;
    height: 38px;
    padding: 6px 10px; // The 6px vertically centers text on FF, ignored by Webkit
    -moz-appearance: none;
    -webkit-appearance: none;

    &:focus {
      border: 1px solid $color-primary;
      outline: 0;
    }
  }
}

textarea {
  appearance: none;
  min-height: 65px;
  padding-bottom: 6px;
  padding-top: 6px;
  -moz-appearance: none;
  -webkit-appearance: none;
}

label,
legend {
  display: block;
  font-weight: 600;
  margin-bottom: .5rem;
}

fieldset {
  padding: 0;
  border-width: 0;
}

input {
  &[type="checkbox"],
  &[type="radio"] {
    display: inline;
  }
}

label > .label-body {
  display: inline-block;
  font-weight: normal;
  margin-left: .5rem;
}

// Code
//––––––––––––––––––––––––––––––––––––––––––––––––––

// Contain overflow in all browsers.
pre {
  overflow: auto;
}

code {
  background: lighten($gray-light, 6.4%);
  border-radius: $global-radius;
  border: 1px solid $gray-light;
  font-size: 90%;
  margin: 0 .2rem;
  padding: .2rem .5rem;
  white-space: nowrap;
}

pre > code {
  display: block;
  padding: 1rem 1.5rem;
  white-space: pre;
}


/** colonial heritage overrides **/

html {
  background: url("/images/grass_bg2sm420.jpg") no-repeat center center fixed;
  background-size: cover;
}

@media (min-width: 421px) {
  html {
    background-image: url("/images/grass_bg.jpg")
  }
}

body {
  background: url("/images/big_bg2sm420.jpg") no-repeat center center fixed;
  background-size: 100%

}

@media (min-width: 421px) {
 body {
    background-image: url("/images/big_bg2.jpg");
    background-position: top;
  }
}

@media (min-width: 768px) {
  body {
    //background-position: top;
  }
}



/** home page mockup

body {

  //  background-image: url("../images/bg_1.jpg");

  background-image: url("/images/big_bg2sm.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;

  }



@media (min-width: 768px) {

  body {

  //  background-image: url("../images/bg_1.jpg");

  background-image: url("/images/big_bg2.jpg");

  }
}

@media (min-width: 1630px) {

  body {
    //background-size: cover;

  }

}  **/

/** interior page mockup **/

body.page--bigbggray {

  //  background-image: url("../images/bg_1.jpg");

  background-image: url("/images/big_bg2sm.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;

  }



@media (min-width: 500px) {

  body.page--bigbggray {

  //  background-image: url("../images/bg_1.jpg");

  // background-image: url("/images/bigger_bg_gray.jpg");

  background-image: url("/images/big_bg2gray.jpg");
  //background-color:rgba(0, 0, 0, 0.3);

  }
}

@media (min-width: 1630px) {

  body.page--bigbggray {

    //  background-image: url("../images/bg_1.jpg");

    background-size: cover;

    }

}

h1.page-title {
  color: #552c0e;
  font-family: leanderregular;
}


body.page--bigbg main {
  background-image: url("../images/bg_1.jpg");
  padding-top: 20px;
}

.pageheader {
  padding-top: 20px;
}

.logosmall {
  width: 200px;
  float: left;
  margin: -5px 0 0 0;
  display: block;
}

//colonial heritage position overrides
//––––––––––––––––––––––––––––––––––––––––––––––––––

//header and header block positioning

.compname-container {

}


//colonial heritage nav
//––––––––––––––––––––––––––––––––––––––––––––––––––

/* navigation styles */

nav {


  width: 200px;
  height: auto;
  position: fixed;
  top: 0;
  left: -200px;
  background: #fff;
   z-index: 5;
   transition: .3s ease all;
   opacity: .9;

}

.show-nav nav {
 transform: translateX(200px);
 padding-left: 5px;
 width: 100%;
}


nav a {
    display: block;
    font-weight: bold;
    margin: .5rem 45px 1rem 0;
    border-radius: 25px;
    border: 2px solid #552c0e;

    width: 70%;
    color: #552c0e;
    padding: .5rem 0 .5rem 1rem;
}

#newdes nav a {
    padding-left: .7rem;
}

nav a:link {
    text-decoration: none;

}

nav a:visited {
    text-decoration: none;
}

nav a:hover {
    color: white;
    background: #552c0e;
    text-decoration: underline;
}

nav a:active {
    color: white;
    background: #552c0e;
    text-decoration: underline;
}

.urhere {
    color: #552c0e;
    font-weight: bold;
    text-decoration: underline;
    margin-left: 1rem;
}


@media screen and (min-width: 768px) {
    nav {
        margin-bottom: 2.5rem;
        position: static;
        background: transparent;
        width: auto;
        opacity: 1;
        border: 3px solid #552c0e;
        border-radius: 15px;
        text-align: center;
        background: #552c0e;

    }

    #newdes nav {
       font-size: .85em;
    }

    nav a {
        color: white;
        display: inline;
        margin: 0 1rem 0 0;
        border-radius: 0;
        border: 0;

        padding: .5rem .2em .5em .2em;

        font-weight: normal;

    }

    .urhere {
        margin-right: 1rem;

        color: white;
        font-weight: bold;
        text-decoration: underline;
    }

    nav a:link {
        text-decoration: none;
        color: white;
        background: transparent;
    }

    nav a:visited {
        text-decoration: none;
        color: white;
        background: transparent;
    }

    nav a:hover {
        text-decoration: underline;
        color: #552c0e;
        background: white;
    }

    nav a:active {
        text-decoration: underline;
        color: #552c0e;
        background: white;
    }


}



/* elijah wood hamburger menu by way of tania rascia */

#nav-toggle {
  position: fixed;
  top: 12px;
  right: 5px;
  float: right;
  /* margin-right: 45px; */
  transition: all ease .3s;
  z-index: 10;
  padding: 10px 35px 16px 0px;
}

/* .show-nav #nav-toggle {
  margin-right: 200px;
} */



@media screen and (min-width: 768px) {
  #nav-toggle {
    display: none;
  }
}

#nav-toggle {
  background: #552c0e;
}

#nav-toggle span,
#nav-toggle span:before,
#nav-toggle span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 4px;
  width: 27px;
  /* background: #343434; */
  //background: #552c0e;
  background: white;
  position: absolute;
  display: block;
  content: '';
}

#nav-toggle span {
  //background-color: #552c0e;
  background-color: white;
}

#nav-toggle span:before {
  top: -8px;
}

#nav-toggle span:after {
  bottom: -8px;
}

#nav-toggle span,
#nav-toggle span:before,
#nav-toggle span:after {
  transition: all 200ms ease-in-out;
}

#nav-toggle.active span {
  background-color: transparent;


}

#nav-toggle.active span:before,
#nav-toggle.active span:after {
  top: 0;
}

#nav-toggle.active span:before {
  transform: rotate(45deg);
}

#nav-toggle.active span:after {
  transform: rotate(-45deg);
}


/** colonial heritage home page slide show */


/* new design styles for 2 block slideshow */

#newdes figure img {
  //max-width: 98%;
  margin-right: 2px;
  border: 2px solid #552c0e;
}

/*
@media (min-width: 550px) {
  #newdes figure img {
  width: 40%;

  }

  #newdes figure img:not(:last-child) {
  margin-right: 20px;
  }
} */

@media (min-width: 775px) {
  #newdes figure img {
    border: 4px solid #552c0e;
  }
}
/*
@media (min-width: 775px) {
  #newdes figure img {
      width: 35%;
       border: 4px solid #552c0e;
  }
  #newdes figure img:not(:last-child) {
  margin-right: 30px;
  }
}


@media (min-width: 1000px) {
  #newdes figure img {
      width: 30%;
  }
} */

#newdes #slide01 img, #newdes #slide02 img {
border-radius: 15px;
border: 1px solid #552c0e;
//width: 95%;
/* box-shadow: 0 0 20px rgba(139,69,19, 0.4); */
}

#newdes #slide01, #newdes #slide02 {
width: 98%;
margin-left: 0;
//margin-bottom: 10px;
}
/*
#newdes #slide01 {
  margin-left: 0;
  }

  #newdes #slide02 {
  margin-left: 5px;
} */

@media (min-width: 300px) {
 /* #newdes #slide01, #newdes #slide02 {
      width: 45%;
  }

  #newdes #slide01 {
  margin-left: 6px;
  }

  #newdes #slide02 {
  margin-left: 10px;
} */

  #newdes #slide01 img, #newdes #slide02 img {
      border: 2px solid #552c0e;
  }
}
/*
@media (min-width: 600px) {
  #newdes #slide01, #newdes #slide02 {
      width: 40%;
  }

  #newdes #slide01 {
  margin-left: 9%;
  }

  #newdes #slide02 {
  margin-left: 20px;
}
} */

@media (min-width: 900px) {
 /* #newdes #slide01, #newdes #slide02 {
      width: 35%;
  }

  #newdes #slide01 {
  margin-left: 12%;
  } */

  #newdes #slide01 img, #newdes #slide02 img {
      border: 4px solid #552c0e;
  }
}
/*
@media (min-width: 1100px) {
  #newdes #slide01, #newdes #slide02 {
      width: 30%;
  }

  #newdes #slide01 {
  margin-left: 17%;
  }
}  */


/** new bem mockup rules **/

.SiteNav--topdes
 {

    height: 40px;
    background-color: #552c0e;
    margin-top: 0;
    color: white;
    padding-top: 7px;

}

#newdes .SiteNav--topdes nav, .SiteNav--topdes nav  {
  font-size: 1.5rem;
}

.PageHeader {
  padding-top: 15px;
  //background-color:rgba(0, 0, 0, 0.3);
}

.page--noheadbox .PageHeader {
  background-color: transparent;
}

@media (min-width: 768px) {
  .page--noheadbox .PageHeader {
    background-color:rgba(0, 0, 0, 0.3);
  }
}

.PageHeader .PageHeader__logo {
  //padding-left: 15px;
  width: 300px;


}

.mock01 .PageHeader .PageHeader__logo {
  margin: 0 auto;
}

.page--noheadbox .PageHeader .PageHeader__logo {
  margin: 0 auto;
}

@media (min-width: 768px) {
  .page--noheadbox .PageHeader .PageHeader__logo {
    margin-left: 25px;
  }
}

@media (min-width: 960px) {
  .PageHeader .PageHeader__logo {

      //padding: 0;
      width: 150px;
      // width: 400px;

  }

}

.PageHeader__tagline {
  font-family: leanderregular;
  color: #F8EEBA;
  margin-top: 10px;
  font-size: 2rem;
}

.PageHeader__title {
  font-family: leanderregular;
  color: #F8EEBA;
  margin-top: 30px;
}

.page--bigbox .PageHeader__title {
  color: #552c0e;
}

.page--noheadbox .MainContent {

  background-color: transparent;
}

@media (min-width: 768px) {

  .page--noheadbox .MainContent {
    background-color:rgba(0, 0, 0, 0.3);
   }

}


.ContImg {
  border: 2px solid #552c0e;
  border-radius: 10px;
}

.MainContentCont {
  background-image: url("../images/bg_1.jpg");
  //padding: 20px;
  padding: 20px;
  border-radius: 25px;
  border: 6px solid #552c0e;
  margin-bottom: 20px;
}

.mock01 .MainContentCont {
  padding: 15px;
  margin-bottom: 20px;
}

.page--bigbox .MainContentCont {
  margin-top: 20px;
  margin-bottom: 20px;
  padding-left: 15px;
  padding-right: 10px;
}


  .page--noheadbox .MainContentCont {
    margin-top: 15px;
  }

@media (min-width: 768px) {
  .page--noheadbox .MainContentCont {
    margin-top: 0;
  }
}

.PageHeaderDeskCont {
  display: none;
}


@media (min-width: 768px) {

  .PageHeaderDeskCont {
    display: block;
  }

}

.PageHeaderMobileCont {
  display: block;
  color: #552c0e;
  font-family: leanderregular;
}

@media (min-width: 768px) {

  .PageHeaderMobileCont {
    display: none;
  }
}
