// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------

.page--bigbg {


}


.topstrip
 {

    height: 40px;
    background-color: #552c0e;
    margin-top: 0;
    color: white;
    padding-top: 7px;

}


.headmain {
    // height: 320px;
    //background-image: url("/images/big_bg2.jpg");
    padding-top: 15px;
}

@media (min-width: 768px) {

    .headmain {
        height: 520px;
        //background-image: url("/images/big_bg2.jpg");
        padding-top: 15px;
    }
}


.logocont {
    padding-left: 15px;
    width: 300px;
}

@media (min-width: 480px) {
    .logocont {
        margin: 0 auto;
        padding: 0;
        width: 400px;

    }

}

/** interior page mockup **/

.logocont--int {
    max-width: 250px;
}

h2 {
    text-align: center;
    margin-top: 20px;
    padding: 0;
}

@media (min-width: 768px) {

    h2 {
        text-align: center;
        margin-top: 160px;
        padding: 0;
    }
}


/** latest bem mockup rules **/

.PageHeader--home {
    padding-top: 15px;
}

.PageHeader--home .PageHeader__logo {
    padding-left: 15px;
    width: 300px;
}

@media (min-width: 768px) {
    .PageHeader--home .PageHeader__logo {
        margin: 0 auto;
        padding: 0;
        width: 400px;

    }

}

.PageHeader--home .PageHeader__tagline {

    text-align: center;
    margin-top: 20px;
    padding: 0;
    font-size: 3.6rem;


}

@media (min-width: 768px) {

    .PageHeader--home .PageHeader__tagline {
        text-align: center;
        margin-top: 160px;
        padding: 0;
    }
}
